# Ignore build directories
build/

# Ignore JetBrains IDE project files
.idea/

# Ignore CMake build directory
cmake-build-debug/

# Ignore Node.js dependencies
node_modules/

# Ignore Visual Studio Code settings
.vscode/

